.container-fluid {
  background-color: black;
}

.leftHalf {
  width: 50%;
  position: absolute;
  left: 0px;
  height: 100%;
  overflow-x: clip;
  overflow-y: clip;
}
.rightHalf {
  width: 50%;
  position: absolute;
  right: 0px;
  height: 100%;
  overflow-x: clip;
  overflow-y: clip;
}
