<ng-container>
  <div id="brooklynCarouselFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="5000">
        <img src="../../../../../assets/foodItem1.jpg" class="d-block w-100" alt="Chef holding a salad.">
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="../../../../../assets/foodItem2.jpg" class="d-block w-100" alt="Chef blow torching dumplings">
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="../../../../../assets/brooklyn1.jpg" class="d-block w-100" alt="Nebula Brooklyn location bar">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#brooklynCarouselFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#brooklynCarouselFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="brooklyn-location-container">
    <div>
      <p>Google Maps</p>
    </div>
    <div>
      <p>BROOKLYN</p>
    </div>
  </div>
</ng-container>
