<ng-container>
  <div class="home">
    <div class="locations">
      <div class="restaurant-name">
        <h1>{{restaurantName}}</h1>
      </div>
      <div *ngIf="!showBrooklynAddress && !showManhattanAddress">
        <p>{{manhattanAddress}}</p>
      </div>
      <div *ngIf="showBrooklynAddress">
        <p>{{brooklynAddress}}</p>
      </div>
      <div *ngIf="showManhattanAddress">
        <p>{{manhattanAddress}}</p>
      </div>
      <a routerLink="/manhattan" routerLinkActive="active" (mouseover)="changeToBrooklynAddress()" (mouseleave)="showBrooklynAddress = false">MANHATTAN</a>
      <a routerLink="/brooklyn" routerLinkActive="active" (mouseover)="changeToManhattanAddress()" (mouseleave)="showManhattanAddress = false">BROOKLYN</a>
    </div>
  </div>
</ng-container>
