.header {
  background: transparent;
  color: white;
  font-size: 40px;
  width: 100%;
  font-family: 'Cormorant Garamond', serif;
  position: absolute;
  display: flex;
  text-align: right;
}

.logo {
  left: 95%;
  top: 80%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
}
