<table>
  <h3>STARTER</h3>
  <hr style="width:25%;text-align:left;margin-left:0">
  <tr>
    <th>
      <h5>Crispy Spanish Octupus</h5>
    </th>
    <th><h5>30</h5></th>
  </tr>
  <tr colspan="2">
    <td>Wild Onion Chimichurri, Crispy Russet Potato, Pickled Cherry Tomato, Chorizo Oil</td>
  </tr>
  <tr>
  <tr>
    <th>
      <h5>Chili-Lime Dungeness Crab Cakes</h5>
    </th>
    <th><h5>34</h5></th>
  </tr>
  <tr colspan="2">
    <td>Sweet Chili Sauce, Roasted Marcona Almond</td>
  </tr>
  <tr>
    <th>
      <h5>Ahi Tuna Crudo</h5>
    </th>
    <th><h5>25</h5></th>
  </tr>
  <tr colspan="2">
    <td>Yuzu-White Soy Vinaigrette, Pickled Spring Carrot, Avocado Mousse, Fisee, Nori & Rice Cracker</td>
  </tr>

  <h3>SOUPS | SALADS</h3>
  <hr style="width:25%;text-align:left;margin-left:0">
  <tr>
    <th>
      <h5>Baked Onion Soup</h5>
    </th>
    <th><h5>15</h5></th>
  </tr>
  <tr colspan="2">
    <td>Crouton, Gruyere Crust</td>
  </tr>
  <tr>
    <th>
      <h5>Iceberg Wedge Salad</h5>
    </th>
    <th><h5>14</h5></th>
  </tr>
  <tr colspan="2">
    <td>Bacon, Crouton, Hard Cooked Egg, House Dressing</td>
  </tr>
  <tr>
    <th>
      <h5>Mixed Greens</h5>
    </th>
    <th><h5>11</h5></th>
  </tr>
  <tr colspan="2">
    <td>Strawberry, Sugar Snap Pea, Chevre, Roasted Hazelnut, White Balsamic Vinaigrette</td>
  </tr>
  <tr>
    <th>
      <h5>House Caesar Salad</h5>
    </th>
    <th><h5>13</h5></th>
  </tr>
  <tr colspan="2">
    <td>Hearts of Romaine, Parmesan, Anchovy, Crouton</td>
  </tr>

  <h3>STEAKS</h3>
  <hr style="width:25%;text-align:left;margin-left:0">
  <tr>
    <th>
      <h5>Porterhouse</h5>
    </th>
    <th><h5>72</h5></th>
  </tr>
  <tr colspan="2">
    <td>28 oz. Bone-In Cut, Combines The Rich Flavor Of A Strip With The Tenderness Of A Filet</td>
  </tr>
  <tr>
    <th>
      <h5>Bone In Ribeye</h5>
    </th>
    <th><h5>79</h5></th>
  </tr>
  <tr colspan="2">
    <td>18 oz. excellent marbling, loaded with flavor.</td>
  </tr>
  <tr>
    <th>
      <h5>Filet Mignon</h5>
    </th>
    <th><h5>68</h5></th>
  </tr>
  <tr colspan="2">
    <td>12 oz. tender, center-cut</td>
  </tr>
  <tr>
    <th>
      <h5>F1 Wagyu New York Strip</h5>
    </th>
    <th><h5>155</h5></th>
  </tr>
  <tr colspan="2">
    <td>12 oz. tender, center-cut</td>
  </tr>
  <tr>
    <th>
      <h5>F1 Wagyu Ribeye</h5>
    </th>
    <th><h5>190</h5></th>
  </tr>
  <tr colspan="2">
    <td>Wild Onion Chimichurri, Crispy Russet Potato, Pickled Cherry Tomato, Chorizo Oil</td>
  </tr>

  <h3>ENTREES</h3>
  <hr style="width:25%;text-align:left;margin-left:0">
  <tr>
    <th>
      <h5>Miso Marinated Chilean Sea Bass</h5>
    </th>
    <th><h5>52</h5></th>
  </tr>
  <tr colspan="2">
    <td>Hon Shimeji Mushrooms, Peas, Soy Lemon Butter</td>
  </tr>
  <tr>
    <th>
      <h5>Oregon Fried Chicken</h5>
    </th>
    <th><h5>40</h5></th>
  </tr>
  <tr colspan="2">
    <td>Free Range Half Chicken, Pole Bean, Garlic Mashed Potatoes & Black Truffle Honey</td>
  </tr>
  <tr>
    <th>
      <h5>Alaskan Halibut Fillet</h5>
    </th>
    <th><h5>59</h5></th>
  </tr>
  <tr colspan="2">
    <td>Wilted Spinach, Wild Onion Parisian Gnocchi, Rapini, Pickled Ramp, Taggiasche Olive</td>
  </tr>
  <tr>
  <tr>
    <th>
      <h5>Maine Lobster Tail Duo</h5>
    </th>
    <th><h5>88</h5></th>
  </tr>
  <tr colspan="2">
    <td>8 oz. Broiled, Beurre Monte, Pole Bean, Garlic Mashed Potatoes & Nantua</td>
  </tr>
  <tr>
</table>
