<table>
  <h3>WHITE WINE</h3>
  <hr style="width:25%;text-align:left;margin-left:0">
  <tr>
    <th>
      <h5>Germany</h5>
    </th>
    <th><h5>20</h5></th>
  </tr>
  <tr colspan="2">
    <td>Riesling, Pinot Blanc</td>
  </tr>
  <tr>
  <tr>
    <th>
      <h5>Austria</h5>
    </th>
    <th><h5>27</h5></th>
  </tr>
  <tr colspan="2">
    <td>Riesling, Grüner Veltliner</td>
  </tr>
  <tr>
    <th>
      <h5>Alsace</h5>
    </th>
    <th><h5>32</h5></th>
  </tr>
  <tr colspan="2">
    <td>Riesling, Gewurztraminer, Pinot Gris, Muscat, Sylvaner</td>
  </tr>
  <tr>
    <th>
      <h5>Loire Valley</h5>
    </th>
    <th><h5>34</h5></th>
  </tr>
  <tr colspan="2">
    <td>Sauvignon Blanc, Chenin Blanc, Melon de Bourgogne, Romorantin</td>
  </tr>
  <tr>
    <th>
      <h5>Bordeaux</h5>
    </th>
    <th><h5>38</h5></th>
  </tr>
  <tr colspan="2">
    <td>Sauvignon Blanc & Sémillon</td>
  </tr>
  <tr>
    <th>
      <h5>Rhône Valley</h5>
    </th>
    <th><h5>25</h5></th>
  </tr>
  <tr colspan="2">
    <td>Viognier, Marsanne, Grenache Blanc, Roussanne</td>
  </tr>
  <tr>
    <th>
      <h5>Jura and Savoie</h5>
    </th>
    <th><h5>44</h5></th>
  </tr>
  <tr colspan="2">
    <td>Savagnin, Jacquère, Altesse</td>
  </tr>
  <tr>
    <th>
      <h5>Corsica</h5>
    </th>
    <th><h5>49</h5></th>
  </tr>
  <tr colspan="2">
    <td>Vermentino, Bianco Gentile, Barbarossa</td>
  </tr>
  <tr>
    <th>
      <h5>Italy</h5>
    </th>
    <th><h5>25</h5></th>
  </tr>
  <tr colspan="2">
    <td>Biancolella, Friulano, Verdicchio</td>
  </tr>
  <tr>
    <th>
      <h5>Spain</h5>
    </th>
    <th><h5>52</h5></th>
  </tr>
  <tr colspan="2">
    <td>Albariño, Doña Blanca, Treixadura, Xarel-lo</td>
  </tr>

  <h3>RED WINE</h3>
  <hr style="width:25%;text-align:left;margin-left:0">
  <tr>
    <th>
      <h5>Burgundy</h5>
    </th>
    <th><h5>55</h5></th>
  </tr>
  <tr colspan="2">
    <td>Pinot Noir</td>
  </tr>
  <tr>
    <th>
      <h5>Beaujolais</h5>
    </th>
    <th><h5>25</h5></th>
  </tr>
  <tr colspan="2">
    <td>Gamay</td>
  </tr>
  <tr>
    <th>
      <h5>Jura and Savoie</h5>
    </th>
    <th><h5>25</h5></th>
  </tr>
  <tr colspan="2">
    <td>Trousseau, Poulsard, Pinot Noir</td>
  </tr>
  <tr>
    <th>
      <h5>South of France</h5>
    </th>
    <th><h5>25</h5></th>
  </tr>
  <tr colspan="2">
    <td>Mourvèdre, Carignan, Syrah</td>
  </tr>
  <tr>
    <th>
      <h5>Corsica</h5>
    </th>
    <th><h5>25</h5></th>
  </tr>
  <tr colspan="2">
    <td>Niellucciu, Sciaccarellu, Carcaghjolu Neru</td>
  </tr>
  <tr>
    <th>
      <h5>Italy</h5>
    </th>
    <th><h5>15</h5></th>
  </tr>
  <tr colspan="2">
    <td>Nebbiolo, Sangiovese</td>
  </tr>
  <tr>
    <th>
      <h5>Loire Valley</h5>
    </th>
    <th><h5>14</h5></th>
  </tr>
  <tr colspan="2">
    <td>Cabernet Franc, Pineau d'Aunis, Grolleau</td>
  </tr>
  <tr>
    <th>
      <h5>Bordeaux</h5>
    </th>
    <th><h5>11</h5></th>
  </tr>
  <tr colspan="2">
    <td>Merlot, Cabernet Sauvignon</td>
  </tr>
  <tr>
    <th>
      <h5>California</h5>
    </th>
    <th><h5>13</h5></th>
  </tr>
  <tr colspan="2">
    <td>Merlot, Cabernet Sauvignon</td>
  </tr>
</table>
