h3 {
  font-size: 2vw;
  font-family: calluna;
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;
}

p {
  margin-left: 5vw;
  margin-right: 5vw;
}

.tasting-menu {
  text-align: center;
  font-family: calluna;
}
