<ng-container>
  <div class="tasting-menu">
    <h3>WELCOME TO NEBULA</h3>
    <p>Nebula is a fine dining restaurant located in the heart of New York City. The restaurant overlooks Madison Square Park, one of the most beautiful parks in Manhattan, and sits at the base of a historic Art Deco building on the corner of East 5th Street and Madison Avenue. Located here since 1998, it underwent a full-scale renovation and redesign in the summer of 2017.</p>
    <p>The restaurant has been owned by Chef Daniel Humm since 2011 and during that time it has evolved considerably, both in food and in experience. Our tasting menu consists of entirely plant-based courses. Guests can also visit the bar for a more abbreviated version of the tasting menu,  light snacks, or simply for a cocktail or glass of wine.</p>
    <p>Every dinner purchased at Eleven Madison Park allows us to provide meals to New Yorkers experiencing food insecurity. These meals are served from the Eleven Madison Truck, which is operated by restaurant staff, in partnership with Rethink Food. To learn more, please follow the link here.</p>
  </div>
</ng-container>
