h3 {
  font-size: 2vw;
  font-family: calluna;
  padding-top: 4.5vw;
}

h5 {
  font-size: 1.5vw;
  font-family: calluna;
}

.class {
  display: flex;
}

table {
  width: 100%;
  td {
    font-size: 1vw;
    font-family: calluna;
    padding-bottom: 2vw;
  }
}
