<table>
  <h3>DESSERT</h3>
  <hr style="width:25%;text-align:left;margin-left:0">
  <tr>
    <th>
      <h5>Carrot Cake</h5>
    </th>
    <th><h5>11</h5></th>
  </tr>
  <tr colspan="2">
    <td>Cream Cheese Icing, Candied Pecans, Pineapple Caramel</td>
  </tr>
  <tr>
  <tr>
    <th>
      <h5>Raspberry Mousse</h5>
    </th>
    <th><h5>13</h5></th>
  </tr>
  <tr colspan="2">
    <td>Chocolate Chiffon, Raspberry Gelée, Vanilla Ice Cream</td>
  </tr>
  <tr>
    <th>
      <h5>German Chocolate Doughnut Bites</h5>
    </th>
    <th><h5>14</h5></th>
  </tr>
  <tr colspan="2">
    <td>Coconut Caramel, Caramel Chantilly, Chocolate Ice Cream, Coconut Florentine Crisp</td>
  </tr>
  <tr>
    <th>
      <h5>Vanilla Crème Brûlée</h5>
    </th>
    <th><h5>16</h5></th>
  </tr>
  <tr colspan="2">
    <td>Caramelized Vanilla Bean Custard</td>
  </tr>
  <tr>
    <th>
      <h5>Sorbet</h5>
    </th>
    <th><h5>10</h5></th>
  </tr>
  <tr colspan="2">
    <td>Grapefruit, Strawberry, Cucumber-Lime, Blackberry-Orange Blossom, Blood Orange</td>
  </tr>
</table>
