/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  padding: 0;
  background: black;
}

.locations-container {
  display: flex;
  color: #FFFFFF;
  justify-content: space-evenly;
  text-align: center;
  padding-top: 4rem;
  font-family: calluna, serif;
  font-size: 1rem;

  h1 {
    font-size: 2rem;
    text-decoration: underline;
    padding-bottom: 1rem;
  }
}
